<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edit recipes Page</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Edit recipe Page</h1>
        <form action="/recipes/<%=recipe.id%>?_method=PUT" method="POST">
		<!--  NOTE: the form is pre-populated with values for the server-->
		
        Name: <input type="text" name="Name" value="<%=recipe.Name%>"/><br/>
        Calorie: <input type="text" name="Calorie" value="<%=recipe.Calorie%>"/><br/>
        Fat: <input type="number" name="Fat" value="<%=recipe.Fat%>"/><br/>
        Carb: <input type="number" name="Carb" value="<%=recipe.Carb%>"/><br/>
        Protein: <input type="number" name="Protein" value="<%=recipe.Protein%>"/><br/>
		<br/>
		<input type="submit" name="" value="Submit Changes"/>
        </form>
    </body>
</html>