<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>recipes Homepage</title>
    </head>
    <body>
        <h1>recipes Homepage</h1>
        recipe_id: <%=recipe.recipe_id%><br/>
        Name: <%=recipe.Name%><br/>
        Calorie: <%=recipe.Calorie%><br/>
        Fat: <%=recipe.Fat%><br/>
        Carb: <%=recipe.Carb%><br/>
        Protein: <%=recipe.Protein%><br/>
    </body>
</html> 