<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Users Homepage</title>
    </head>
    <body>
        <h1>Users Homepage</h1>
        <%= user.Name %>'s username is  <%= user.Username %>, password is <%= user.Password %>, 
        age is <%= user.Age %>, weight is <%= user.Weight %>, and goal is for <%= user.Goal %>
    </body>
</html> 