<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>

  <body>
    <h1>Welcome <%=user.Name%></h1>
    <form action="/users/profile/<%=index%>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%=user.Name%>" /><br />
      <br />
      Username:
      <input type="text" name="Username" value="<%=user.Username%>" />
      <br />
      Password:
      <input type="text" name="Password" value="<%=user.Password%>" /><br />
      <br />
      Weight:
      <input type="number" name="Weight" value="<%=user.Weight%>" /><br />
      <br />
      Age:
      <input type="number" name="Age" value="<%=user.Age%>" /><br />
      <br />
      Goal:
      <input type="text" name="Goal" value="<%=user.Goal%>" /><br />
      <br />
      <input type="submit" value="Edit Profile" />
    </form>
    <br />
    <form action="/users/<%=index%>?_method=DELETE" method="POST">
      <input type="submit" value="Delete User" />
    </form>

    <br /><br />
    <a href="/recipes">View All Recipes</a>
  </body>
</html>